#wrapper{
    position: relative;
    max-width: 70%;  
    margin: 0 auto;
    min-height: 100%
}


 .content h1 {
    text-align: center;
    margin-top: 1em;
    font-size: 45px;
    font-family: Teko;
    color: #333333;
    text-transform: uppercase;
    letter-spacing: 1px;
}

.gallery {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(8, 4vw);
    grid-gap: 15px;
}

.gallery_img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: all ease-in-out 250ms;
}

.gallery_img:hover {
    opacity: 0.8;
    transition: all ease-in-out 250ms;
}

.gallery_item_1 {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 3;
}

.gallery_item_2 {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 3;
    grid-row-end: 5;
}

.gallery_item_3 {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 5;
    grid-row-end: 8;
}
.gallery_item_4 {
    grid-column-start: 3;
    grid-column-end: 5;
    grid-row-start: 6;
    grid-row-end: 8;
}
.gallery_item_5 {
    grid-column-start: 5;
    grid-column-end: 7;
    grid-row-start: 6;
    grid-row-end: 8;
}

.gallery_item_6 {
    grid-column-start: 3;
    grid-column-end: 9;
    grid-row-start: 1;
    grid-row-end: 6;
}

.gallery_item_7 {
    grid-column-start: 7;
    grid-column-end: 9;
    grid-row-start: 6;
    grid-row-end: 8;
}

.footer {
    width: 100%;
    height: 50px;
    display: sticky;
    position: fixed;
    bottom: 0px; left: 0;
}
